<% provide(:title, 'Help') %>
<!DOCTYPE html>

    <h1>Help (FAQ)</h1>
    <p>
    1. How do I post a new opinion?
    <br>
    A. Use the text block to the left of the main page, put in a title and the text of your opinion, select a topic (Politics, Law, Business, Lifestyle, or Faith) and click "Post".
    <br>
	<br>
    2. How do I see who agrees or disagrees with an opinion?
    <br>
    A. From the main page, click on the title, text, or the "agreement" and "disagreement" buttons of an opinion in the feed to see the opinions that agree or disagree.
    <br>
    <br>
    3. How do I agree or disagree with an opinion?
    <br>
    A. Once you see the opinions that agree or disagree, you can use the area to the right side of the page to agree or disagree. The topic will be the same as the opinion you are agreeing or disagreeing with. 

    </p>
