
      <% if signed_in? %>
        <section>
          <%= render 'shared/user_info' %>
        </section>
      
        <section>
          <%= render 'shared/stats' %>
        </section>

        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      <% else %>
        <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
      <% end %>


      To start posting your opinions and agree or disagree with others, check out the Help page (link at top-right side of the main page)! 




 